<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="cn.android.common"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="16" />

    <uses-permission android:name="android.permission.INTERNET" >
    </uses-permission>

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="cn.android.common.MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="cn.android.common.framework.quickadapter.sample.QuickAdapterActivity" />
        <activity android:name="cn.android.common.framework.quickadapter.sample.SimpleTestActivity" />
        <activity android:name="cn.android.common.framework.quickadapter.sample.ChatActivity" />
        <activity android:name="cn.android.common.framework.customview.CustomViewActivity" />
        <activity android:name="cn.android.common.framework.keyEvent.ControlActivity" />
        <activity android:name="cn.android.common.framework.keyEvent.SocketServer" />
        <activity android:name="cn.android.common.framework.keyEvent.SocketClient" />
        <activity android:name="cn.android.common.framework.keyEvent.KeyInjectActivity" />
    </application>

</manifest>